/* Styles for the common site elements */

/*  navbar */

nav {
  background: #784F41;
  z-index: 99;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  box-shadow: 3px 0 15px 7px rgb(94, 94, 94);
}

.nav-item {
  padding: 0 2em;
  list-style: none;
  text-align: center;
}

.nav-link,
.nav-link:visited {
  text-decoration: none;
  color: #BBE5ED;
  padding: 1em 0;
}

.nav-link:hover {
  color: rgb(130, 192, 204);
}

.nav-btn-home {
  font-weight: 800;
}

.menu {
  justify-content: center;
  align-items: center;
}

/* to top button */

#gototop {
  position: fixed;
  bottom: 3%;
  right: 2%;
  background-color: rgba(50, 50, 50, 0.25);
  padding: 6px 12px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 900;
  cursor: pointer;
}

#gototop:hover {
  background-color: rgba(50, 50, 50, 0.35);
}


/* footer */

footer {
  margin-top: 130px;
  padding: 40px 0 10px 0;
  background: #784F41;
  color: #BBE5ED;
}


.media-footer {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.media-footer a {
  text-decoration: none;
  padding: 0 2em;
  color: #BBE5ED;
}

.media-footer a:hover {
  color: rgb(130, 192, 204);
}


.footer-text {
  text-align: center;
  margin: 30px 0;
  font-size: 10px;
}

.footer-text .wild-link {
  color: rgb(130, 192, 204);
  text-decoration: none;
}

.footer-text .wild-link:hover {
  color: #F99797;
}


/* media queries */

@media screen and (max-width: 576px) {
  .media-footer {
    flex-flow: column wrap;
  }
}

@media screen and (max-width: 442px) {
  footer {
    margin-top: 50px;
  }

  .nav-btn-home {
  padding: 0 0 1em 0;
  }
  
  .nav-item {
    padding: 0 2em;
    list-style: none;
    text-align: center;
    font-size: 1.7em;
  }
}