/* Styles for the common site elements */

/* import fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

/* styling global variables */

* {
  --title--color: white;
  /* example use: background-color: var(--title--color);*/
  --general--color: rgb(54, 54, 54);
  --link-blue: #bbe5ed;
  --title-font: 'Montserrat', sans-serif;
  --text-font: 'Roboto', sans-serif;
}


/*  navbar */

nav {
  background: var(--general--color);
  opacity: 0.96;
  z-index: 99;
  font-family: var(--title-font);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  box-shadow: 3px 0 13px 7px var(--general--color);
}

.nav-item {
  padding: 0 2em;
  list-style: none;
  text-align: center;
}

.nav-link,
.nav-link:visited {
  text-decoration: none;
  color: var(--link-blue);
  padding: 1em 0;
  font-weight: 800;
  font-size: 1.05em;
}

.nav-link:hover {
  color: rgb(130, 192, 204);
}

.menu {
  justify-content: center;
  align-items: center;
}

/* to top button */

#gototop {
  position: fixed;
  bottom: 3%;
  right: 2%;
  background-color:rgba(170, 210, 218, 0.35);
  padding: 6px 12px 4px 12px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 900;
  cursor: pointer;
}

#gototop:hover {
  background-color: rgba(170, 210, 218, 0.7);
}


/* footer */

footer {
  margin-top: 130px;
  padding: 40px 0 10px 0;
  background: var(--general--color);
  color: var(--link-blue);
  font-family: var(--title-font);
}


.media-footer {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.media-footer a {
  text-decoration: none;
  padding: 0 2em;
  color: var(--link-blue);
}

.media-footer a:hover {
  color: rgb(130, 192, 204);
}


.footer-text {
  text-align: center;
  margin: 30px 0;
  font-size: 10px;
  font-size: 12px;
}

.footer-text .wild-link {
  color: rgb(130, 192, 204);
  text-decoration: none;
  font-size: 12px;
}

.footer-text .wild-link:hover {
  text-decoration: underline;
}


/* media queries */

@media screen and (max-width: 576px) {
  .media-footer {
    flex-flow: column wrap;
  }
}

@media screen and (max-width: 442px) {
  footer {
    margin-top: 50px;
  }

  .nav-btn-home {
    padding: 0 0 1em 0;
  }

  .nav-item {
    padding: 0 1.5em;
    list-style: none;
    text-align: center;
    font-size: 1.5em;
  }
}