body {
    margin: 0;
    padding: 0;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 130px 30px 0 30px;
    font-family: var(--text-font);
}

.row {
    margin: 0;
    padding: 0;
}

.col-12,
.col-md-6 {
    padding: 0;
}

.ct-title {
    margin: 0 0 70px 0;
    text-align: center;
    padding: 15px 20px;
    background: var(--general--color);
    color: var(--title--color);
    font-size: 44px;
    font-family: var(--title-font);
}

form {
    display: flex;
    flex-direction: column;
}

form>label {
    margin: 1em 0 0 0;
}

.ct-btn {
    margin: 1em;
}

.ct-btn button {
    background: whitesmoke;
    color: var(--general--color);
    transition: 130ms ease-out;
    border: 1px solid var(--general--color);
}

.ct-btn button:hover {
    background: rgb(215, 233, 236);
    color: black;
    border: 1px solid var(--general--color);
}

.ct-subtitle {
    padding: 35px 0 25px 0;
    font-family: var(--title-font);
}

.people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px;
}

.people img {
    border-radius: 6px;
}

.people figcaption {
    text-align: center;
}

.media-logo {
    height: 40px;
    width: auto;
    margin: 0 20px 65px 20px;
}

.media-logo:hover {
    opacity: 0.6;
}

.person-detail {
    text-align: center;
}


/* css for the map */

.the-map {
    margin-top: 100px;
}

#mapid {
    height: 30vh;
    border: 1px solid var(--general--color);
    z-index: 0;
}


@media screen and (max-width: 785px) {
    .people {
        flex-direction: column;
        align-items: center;
    }

    .ct-title {
        margin-bottom: 1em;
    }

    .ct-subtitle {
        text-align: center;
    }

    .ct-who {
        padding-left: 0;
    }

    address {
        text-align: center;
    }
}

@media screen and (max-width: 442px) {

    .ct-title,
    #mapid {
        width: 100vw;
        transform: translate(-30px, 0px);
        padding: 15px 20px;
    }
}