body {
    margin: 0;
    padding: 0;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 130px 30px 0 30px;
}

.row {
    margin: 0;
    padding: 0;
}

.col-12,
.col-md-6 {
    padding: 0;
}

.ct-title {
    margin: 0 0 70px 0;
    text-align: center;
    padding: 10px 20px;
    background: #784F41;
    color: var(--title--color);
    font-size: 44px;
}

form {
    display: flex;
    flex-direction: column;
}

form>label {
    margin: 1em 0 0 0;
}

.ct-btn {
    margin: 1em;
}

.ct-btn button {
    border-color: rgb(49, 49, 49);
    background: whitesmoke;
    color: black;
    transition: 120ms ease-out;
    border: 1px solid #784F41;
}

.ct-btn button:hover {
    background: #BBE5ED;
    color: black;
    border: 1px solid #784F41;
}

.container {
    border: 1px solid pink;
}

.ct-subtitle {
    padding: 35px 0 25px 0;
}

.people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px;
}

.people img {
    border-radius: 6px;
}

.people figcaption {
    text-align: center;
}

.media-logo {
    height: 40px;
    width: auto;
    margin: 0 20px 65px 20px;
}

.media-logo:hover {
    opacity: 0.6;
}

.person-detail {
    text-align: center;
}


/* css for the map */

.the-map {
    margin-top: 100px;
}

#mapid {
    height: 30vh;
    border: 1px solid #784F41;
    z-index: 0;
}


@media screen and (max-width: 785px) {
    .people {
        flex-direction: column;
        align-items: center;
    }

    .ct-title {
        margin-bottom: 1em;
    }

    .ct-subtitle {
        text-align: center;
    }

    .ct-who {
        padding-left: 0;
    }

    address {
        text-align: center;
    }
}

@media screen and (max-width: 442px) {
    main {
        padding: 130px 0 0 0;
    }
}