main {
    max-width: 1200px;
    margin: 130px auto;
    padding: 0 30px 0 30px;
}

.tp-title {
    margin: 0 0 2em 0;
    text-align: center;
    border: 2px solid #B399A2;
    padding: 10px 20px;
}

.tp-trips-intro {
    text-align: center;
}

.tp-list-days {
    max-width: 950px;
    display: flex;
    flex-flow: column;
    margin: auto;
}

.tp-list-days p {
    max-width: 720px;
    margin: auto;
}

figure {
    
    
    display: flex;
    flex-flow: column;
    margin: 20px auto;

}

img {
    width: 100%;
    max-height: 100%;
    height: auto;
    max-width: 100%;

}

.tp-subtitle {
    margin: 50px 0 30px 0;
    color: rgb(57, 57, 190);
    text-align: center;
}