main {
    max-width: 900px;
    margin: auto;
    padding: 130px 30px 0 30px;
    font-family: var(--text-font);
}

.tp-title {
    margin: 0 0 70px 0;
    text-align: center;
    background: var(--general--color);
    color: white;
    padding: 15px 20px;
    font-size: 44px;
    font-family: var(--title-font);
}

.tp-subtitle {
    margin: 50px 0 30px 0;
    color: var(--general--color);
    text-align: center;
    border-top: 4px double var(--general--color);
    border-bottom: 4px double var(--general--color);
    padding: 0.3em 0;
    padding: 0.5em;
    font-family: var(--title-font);
}

.tp-trips-intro {
    font-size: 22px;
    padding: 35px 0 25px 0;
}

.tp-list-days {
    max-width: 950px;
    display: flex;
    flex-flow: column;
    margin: auto;
}

.tp-list-days p {
    font-size: 18px;
}

figure {
    display: flex;
    flex-flow: column;
    margin: 30px auto;
}

img {
    width: 100%;
    max-height: 90%;
    height: auto;
    max-width: 100%;
}

figcaption {
    padding-top: 0.6em;
    text-align: center;
}

.local-name {
    text-align: center;
    margin: 2em 0 1em 0;
    font-size: 25px;
}

@media screen and (min-width: 443px) {
    .mobileToDays {
        display: none;
    }
}


@media screen and (max-width: 442px) {
    .tp-title {
        width: 100vw;
        transform: translate(-30px, 0px);
        padding: 15px 20px;
    }

    .mobileToDays {
        display: flex;
        justify-content: space-around;
        padding: 40px 5px 0 5px;
    }

    .mobile-toDay {
        padding: 8px 17px;
        background: var(--general--color);
        text-align: center;
        border-radius: 6px;
        font-family: var(--title-font);
        font-size: 15px;
        color: var(--title--color);
    }

    .mobile-toDay:hover,
    .mobile-toDay:focus {
        background: rgb(85, 85, 85);
        text-decoration: none;
        color: var(--title--color);
    }
}