main {
    max-width: 900px;
    margin: auto;
    padding: 130px 30px 0 30px;
}

.tp-title {
    margin: 0 0 70px 0;
    text-align: center;
    background: var(--general--color);
    color: white;
    padding: 15px 20px;
    font-size: 44px;
    font-family: var(--title-font);
}

.tp-subtitle {
    margin: 50px 0 30px 0;
    color: var(--general--color);
    text-align: center;
    border-top: 4px double var(--general--color);
    border-bottom: 4px double var(--general--color);
    padding: 0.3em 0;
    padding: 0.5em;
    font-family: var(--title-font);
}

.tp-trips-intro {
    font-size: 22px;
    padding: 35px 0 25px 0;
}

.tp-list-days {
    max-width: 950px;
    display: flex;
    flex-flow: column;
    margin: auto;
}

.tp-list-days p {
    font-size: 18px;
}

figure {
    display: flex;
    flex-flow: column;
    margin: 30px auto;
}

img {
    width: 100%;
    max-height: 90%;
    height: auto;
    max-width: 100%;
}

figcaption {
    padding-top: 0.6em;
    text-align: center;
}

.local-name {
    text-align: center;
    margin: 2em 0 1em 0;
    font-size: 25px;
    font-family: var(--text-font);
}

p {
    font-family: var(--text-font);
}


@media screen and (max-width: 442px) {
    .tp-title {
        width: 100vw;
        transform: translate(-30px, 0px);
        padding: 15px 20px;
    }
}